.Page_Portfolio {
  margin: 64px 0px 0px 0px;
  padding: 64px 0px;
  display: flex;
  justify-content: center;
  background-color: #392b68;
  .Page_Portfolio_Container {
    width: 1200px;
    max-width: 90%;
    .Portfolio_Container_Titulo {
      color: $Amarelo;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 800;
      font-style: italic;
      text-align: center;
    }
    .Portfolio_Container_Subtitulo {
      text-align: center;
      font-size: 24px;
      color: #fff;
      margin-top: 16px;
      max-width: 780px;
      margin: 0 auto;
    }
    .Portfolio_Container_Galeria {
      margin-top: 64px;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 24px;
      .Container_Galeria_Item {
        width: 100%;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border-radius: 8px;
        &:hover {
          background-color: $Amarelo;
          img {
            animation: GaleriaItemHover 60s infinite;
            opacity: 0.6;
          }
        }
        img {
          @extend %Hover;
          opacity: 1;
          width: 100%;
          overflow: hidden;
          border-radius: 8px;
          height: 100%;
        }
        button {
          position: absolute;
          bottom: 16px;
          right: 10px;
          background-color: #ffd200;
          border: none;
          padding: 12px 16px;
          border-radius: 4px;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 10px;
          cursor: pointer;
          color: #392b68;
          @extend %Hover;
          &:hover {
            background-color: #392b68;
            color: #fff;
          }
        }
        .Galeria_Item_ModalCode {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 100vh;
          background-color: #0a0215f7;
          z-index: 99999999;
          display: none;
          align-items: center;
          justify-content: center;
          animation: 1s ChegouCodepen 1;
          .Item_ModalCode_CloseBTN {
            cursor: pointer;
            color: #fff;
            font-size: 32px;
            position: fixed;
            top: 16px;
            right: 16px;
            -webkit-transition: 0.1s ease-in;
            -moz-transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
            z-index: 999999999;
            &:hover {
              color: #ffd200;
            }
          }
          iframe {
            width: 90%;
            height: 90vh;
            z-index: 99999999;
          }
        }
        &.__CodePenActive {
          z-index: 999999999;
          .Galeria_Item_ModalCode {
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .Page_Portfolio {
    .Page_Portfolio_Container {
      .Portfolio_Container_Galeria {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .Page_Portfolio {
    .Page_Portfolio_Container {
      .Portfolio_Container_Galeria {
        grid-template-columns: 1fr;
      }
    }
  }
}

@keyframes GaleriaItemHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
  }
}

@keyframes ChegouCodepen {
  0% {
    left: 4000px;
  }
  75% {
    left: -200px;
  }
  100% {
    left: 0px;
  }
}

body {
  &.__Is-Day {
    .Page_Portfolio {
      background-color: #fff;
      box-shadow: 0px -6px 20px #57439812;
      .Page_Portfolio_Container {
        .Portfolio_Container_Titulo {
          color: #574398;
        }
        .Portfolio_Container_Subtitulo {
          color: #392b68;
        }
        .Portfolio_Container_Galeria {
          .Container_Galeria_Item {
            box-shadow: 1px 1px 20px #0000001f;
          }
        }
      }
    }
  }
}
