$Amarelo: #ffd200;
$Branco: #fff;
$Roxo1: #392b68;
$Roxo2: #1f1838;

%Hover{
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

// // @extend %Hover;
